.App-logo {
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 300ms alternate-reverse;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(40deg);
  }
}
